main{
  display: flex;
}
.sidebar{
  width: 20%;
  height: 100%;
  background: rgba(32, 32, 42, 0.4);
  
}
#channelslist::-webkit-scrollbar-thumb, #members::-webkit-scrollbar-thumb{
  background-color: rgba(22, 22, 22, 0.8);
}
#channelslist::-webkit-scrollbar, .sidebar::-webkit-scrollbar-corner
,#members::-webkit-scrollbar,#members::-webkit-scrollbar-corner{
  background-color: rgba(40, 40, 40, 0.6);
  width: 10px;
}
#channelslist{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  overflow-y: auto;
  height: calc(100% - 96px);
}
.sidebar li{
  padding-left: 30px;
  margin: 0;
}
.bar-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: rgba(22, 22, 22, 0.4);
  padding: 15px 10px 15px 15px;
  position: relative;
}
.bar-heading h3{
  margin: 0;
  font-weight: 400;
  font-size: 17px;
}
.bar-heading i{
  padding: 6px 8px 6px 10px;
  color: #b4b4b4;
  cursor: pointer;
}
.tools{
  margin-left: 10px;
}
.tools .fa-cog{
  border-left: 2px solid #575757;
  padding: 6px 10px;
}
.bar-heading i:hover{
  color: #fff;
}
#settings i, #membersdiv i{
  float: right;
  padding: 0 5px;
}
#logout{
  margin-top: 12px;
  width: 30%;
  font-size: 15px;
  text-align: left;
  cursor: pointer;
}
#membersdiv .head{
  display: flex;
  justify-content: space-between;
  
}
#membersdiv h3{
  padding: 6px 8px 6px 0;
  font-size: 17px;
  font-weight: 600;
  color: #f4f4f4;
}
#members{
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  max-height: 20vh;
  overflow: auto;
}
#members li{
  padding: 10px 5px;
  min-width: 150px;
  border-radius: 5px;
}
#members li:hover{
  background: rgba(22, 22, 25, 0.7);
}
#members-num{
  font-size: 15px;
  color: #afafaf;
}

#sidemenu{
  position: absolute;
  right: 0;
  top:0;
  transform: translateX(100%);
  z-index: 2;
  background: rgba(22, 22, 22, 0.8);
  padding: 12px 15px 10px 40px;
  clip-path: polygon(5% 0, 5% 18px,0 29px, 5% 40px,5% 100%, 100% 100%, 100% 0);
  display: none;
}
.activetab{
  background: #252525 !important;
  border-bottom: 2px solid rgb(0, 89, 255) !important;
}
#sidemenu form{
  width: 390px;
}
#sidemenu label{
  display: block;
}
.formgroup{
  display: flex;
  margin-top: 10px;
}
#sidemenu input{
  margin: 0;
  width: 85%;
}
#sidemenu form button{
  width: 15%;
}
#addchannel{
  width: fit-content;
}
#channelslist div{
  margin: 0;
  padding-bottom: 15px;
  padding-left: 5px;
  border-bottom: 1px solid rgb(65, 65, 65);
}
#channelslist h4{
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
}
#channelslist span{
  font-size: 14px;
  color: #838383;
  margin-left: 5px;
  cursor: text;
}
.channel{
  padding: 20px;
  padding-bottom: 0;
  cursor: pointer;
}
.channel:hover{
  background-color: rgba(12, 12, 12, 0.6);
}
.channelmembersshow{
  float: right;
  color: rgba(170, 170, 170, 0.5);
  display: none !important;
  cursor: pointer;
}
.channelmembersshow:hover{
  float: right;
  color: rgba(236, 235, 235, 0.7);
}

.listactivechannel{
  background: rgba(12, 12, 12, 0.6);
}
.listactivechannel .channelmembersshow{
  display: inline-block !important;
}
.convactivechannel{
  /*display: block !important;*/
  visibility: visible !important;
}

#chat {
  display: block;
  border-radius: 3px;
  overflow: hidden;
  height: 100%;
  width: 80%;
  position: relative;
}

#conv {
  position: relative;
  height: 88%;
}
.convwrapper{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  /*display: none;*/
  visibility: hidden;
}
.convlist {
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
  padding: 0;
  list-style-type: none;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding-left: 30px;
  padding-right: 10px;
}
.noChannels{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.noChannels p {
  margin: 0;
  width: 90%;
  text-align: center;
}
#message,
#sendchat,#forms input,#forms form button,#emoji-button,.passwordbox, 
#sidemenu input, #sidemenu form button, #logout, #leavechannel {
  border-radius: 5px;
  background-color: rgba(20, 20, 20, .5);
  color: #fff;
  border: 1px solid #525151;
  height: 60%;
  padding: 5px 10px;
  outline-color: #696969
}
#leavechannel, #leavechannel i{
  color: rgb(255, 20, 20) !important;
}
#leavechannel{
  width: 70%;
  text-align: left;
  font-weight: 600;
  font-size: 14px;
  margin-top: 10px;
  cursor: pointer;
}
#message{
  font-family: 'Cairo', sans-serif;
  font-size: 15px;
}
#emoji-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#message {
  margin-right: 2px;
  width: 68%;
  padding: 11.25px 10px;
  overflow-y: hidden;
}

#sendchat,#forms button {
  width: 28%
}

#sender,#sendername {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(32, 32, 42, .6);
}
#chat #sender{
  position: absolute;
  bottom: 0;
}

.fromyou, .fromanother, .feedback {
  margin-top: 4px;
  margin-bottom: 4px;
  max-width: 60%;
  width: fit-content;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  word-break: break-word;
}
.sys-message{
  display: block;
  margin: 10px auto;
  background: rgb(26, 26, 29);
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 14px;
}
.convlist p{
  width: 100%;
}
.feedback{
  margin: 0;
  padding: 0 10px;
  font-weight: bolder;
}
.convlist li span.sender {
  font-size: .8em;
  text-align: left;
  direction: ltr;
}

.convlist li p {
  padding: 0 0 0 20px;
  font-size: 1em
}

.convlist h4 {
  margin: 0;
  display: inline;
  font-family: Arial
}
.convlist li code{
  background-color:#f3f3f3;
  border-radius: 5px;
  padding: 10px 5px;
  display: block;
  color: rgb(31, 31, 31);
}

.fromyou {
  background-color: rgba(0, 150, 255, .6);
  color: #fff;
  margin-left: 6px
}

.fromanother {
  align-self: flex-end;
  background-color: #fff;
  text-align: right;
  color: #424242;
  margin-right: 6px
}

#showcase{
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgb(61, 61, 61);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top:0;
  left:0;
}
#forms{
  width: 60%;
  background: #252525;
  padding: 10px 20px;
  border-radius: 5px;
}
#forms label{
  display: block;
  margin: 10px 0 5px 0;
}
#forms input{
  width: 100%;
  padding: 10px;
}
#forms span{
  font-size: 13px;
  color: #9e9d9d;
}
.tabs{
  display: flex;
  margin-bottom: 15px;
  width: 100%;
  background: rgb(25, 25, 25);
  padding-top: 5px;
  padding-left: 5px;
}
.tabs button{
  padding: 12px;
  background: transparent;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border: 0;
  outline: 0;
  color: #fff;
  background: rgb(25, 25, 25);
  border-bottom:0;
}
#signin{
  padding: 30px 0;
}
.passwordbox{
  padding: 0;
  display: flex;
}
.passwordbox input, .passwordbox button{
  border: 0 !important;
  display: inline-block;
  outline: 0 !important;
}
.passwordbox input{
  width: 88% !important;
}
.passwordbox button{
  width: 12% !important;
  padding: 12px 10px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #b3b3b3 !important;
}
.passwordbox button:hover{
  background: rgba(44, 44, 44, 0.5) !important;
  color: #fff !important;
}
.submitbtn{
  margin-top: 12px;
  padding: 7px 0 !important;
}
#forms input,#forms button{
  position: unset;
}
aside{
  background: rgba(16, 16, 20, 0.9);
  width: 6%;
}
aside a{
  display: flex;
  justify-content: center;
  padding: 7vh 0;
}
aside a i{
  margin: 0;
}
main{
  width: 94%;
}
.bscreen{
  display: none;
}
.error{
  margin: 0;
  margin-top: 5px;
  color: red;
  font-size: 14px;
  font-weight: 600;
}
hr{
  width: 100%;
}
table{
  border-collapse: collapse;
  margin-top: 5px;
}
table th,table td{
  border: 1px solid #e0e0e0;
  padding: 8px;
}
table th{
  color: #fff;
  background: rgba(75, 75, 75, 0.616);
}
table tr:nth-child(even){
  background: rgba(212, 212, 212, 0.6);
  color: #000;
}
li ul{
  list-style-type: disc;
}
li ul ul{
  list-style-type: circle;
}
li ul ul ul{
  list-style-type: square;
}
blockquote{
  border-left: 5px solid #c2c2c2;
  margin: 0 .4em;
}
li > blockquote{
  margin: 0;
}
blockquote p{
  padding: 0 .5em !important;
}