main{
  padding-left: 30px;
}
.student{
  display: inline-block;
  width: 13vw;
  min-width: 150px;
  font-size: 25px;
  padding: 20px 20px 0 20px;
}
.student:hover{
  background-color: rgba(0, 0, 0, 0.5);
}
div p{
  width: 100%;
  text-align: center;
  color: grey;
}
.students i{
  width: 50%;
  display: block;
  margin: auto;
  text-align: center;
}