*{
  box-sizing: border-box;
}
@font-face {
  font-family: 'Cairo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Cairo'), local('Cairo-Regular'), url(cairoara.woff2) format('woff2');
  unicode-range: U+0600-06FF, U+200C-200E, U+2010-2011, U+204F, U+2E41, U+FB50-FDFF, U+FE80-FEFC;
}
body{
  height: 100vh;
  margin: 0;
  background: url('../media/school.jpg') no-repeat center/cover;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-family: 'Cairo', sans-serif;
  overflow: hidden;
}
header{
  display: flex;
  justify-content: space-between;
  background: rgba(37, 37, 37, 0.8);
  padding: 18px 20px;
  height: 17vh;
}
aside ul{
  list-style: none;
  margin-top: 25px;
  padding-left: 0;
}
header li{
  display: inline-block;
}
header a:hover{
  background-color: rgb(68, 68, 68);
}
a{
  color: #fff;
  
}
aside a{
  text-decoration: none;
}
header a{
  font-size: 21px;
  padding: 15px 16px;
  border-radius: 50%;
  background: #000;
  margin: 0 2px;
}
header img{
  width: 40%;
}
aside{
  height: 83vh;
  width: 18%;
  background: rgba(49, 49, 49, 0.8);
}
aside li{
  font-size: 20px;
}
aside li:hover{
  background: rgba(17, 18, 24, 0.5);
}
aside i{
  margin-right: 10px;
}
aside a{
  padding: 7vh;
  display: block;
}
.screen{
  display: flex;
}
main{
  width: 82%;
  height: 83vh;
  background: rgba(0, 0, 0, 0.7);
  position: relative;
  /*overflow-y: scroll;*/
}
/*
main h1{
  font-size: 35px;
  width: 70%;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.6;
}*/
.ara{
  text-align: right;
  float: right;
}
aside .active{
  background-color: rgba(204, 174, 2, 0.8);
}
aside .active:hover{
  background-color: rgba(204, 174, 2,0.6);
}
@media only screen and (max-width: 770px){
  .bscreen{
    display: none;
  }
}
@media only screen and (max-width: 600px){
  aside a{
    padding-left: 5vh;
    padding-right: 5vh;
  }
  header a{
    padding: 2.5vw;
    margin-left: 0.01vw;
    margin-right: 0.01vw;
  }
}
.emoji-picker__tab{
  font-size: 2.2em !important;
}